{% extends 'base.html' %} 
{% block content %}

<h2>Donations:</h2>
{% for donation in all_donations%}
<div>
  <p>{{ donation.charity }}</p>
  <p>{{ donation.amount }}</p>
  <p>{{ donation.notes }}</p>
  <p>{{ donation.username }}</p>
  <p>{{ donation.created_at }}</p>
  <a href="/charities/delete/{{charity._id}}" >DELETE</a>
  <a href="/donations/delete/{{donation._id}}" >DELETE</a>
</div>
{% endfor %}

<div>
  <form method="POST" actions="/donations">
    <label>Name</label>
    <input type="text" name="name"/>
    <label>Amount</label>
    <input type="number" name="amount"/>
    <label>Notes</label>
    <input type="text" name="notes"/>
    <label>Charity</label>
    <select name="charity" id="charity_name">
      {% for charity in all_charities %}
        <option value={{charity._id}}>{{charity.name}}</option>
      {% endfor %}
    </select>
    <input type="submit" name="submit" value="submit"/>
  </form>
</div>

{% endblock %}